.git/               export-ignore
.gitattributes      export-ignore
.github/            export-ignore
.gitignore          export-ignore
COPYING.md          export-ignore
docs/               export-ignore
examples/           export-ignore
Makefile            export-ignore
phpunit.xml.dist    export-ignore
README.md           export-ignore
tests/              export-ignore
