.gitattributes      export-ignore
.github/            export-ignore
.gitignore          export-ignore
docs/               export-ignore
docu.json           export-ignore
examples/           export-ignore
Makefile            export-ignore
phpcs.xml           export-ignore
phpstan.neon        export-ignore
phpunit.xml         export-ignore
README.md           export-ignore
tests/              export-ignore
